@model IEnumerable<CarrosMonitoria.Models.Comprar>

<head>
    <link rel="stylesheet" href="~/css/compras.css">
</head>

<header>
    <nav class="navbar navbar-light">
        <a asp-action="Index">Home</a>
        <a asp-action="Carros">Carros</a>
        <a asp-action="Cadastro">Cadastro</a>
        <a asp-action="Contato">Contato</a>
        <a asp-action="Compras">Compras</a>
    </nav>
</header>

<main class="container">
    <h2 class="text-center my-4">Compras</h2>
    <div class="divCompras text-center">
        <ul class="list-group">
            @foreach (var compra in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>@compra.IdCompra</p>
                    <p>@compra.Email</p>
                    <p>@compra.CadastrarCarro.Nome_Carro</p>
                    <div class="divOptions">
                        <a asp-action="EditarCompra"><span class="badge"><i class="bi bi-pencil-square"></i></span></a>
                        <a href="#"><span class="badge"><i class="bi bi-trash"></i></span></a>
                    </div>
                </li>
            }
        </ul>
    </div>
</main>