@model CarrosMonitoria.Models.Comprar

<head>
    <link rel="stylesheet" href="~/css/editarCarro.css">
</head>

<header>
    <nav class="navbar navbar-light">
        <a asp-action="Index">Home</a>
        <a asp-action="Carros">Carros</a>
        <a asp-action="Cadastro">Cadastro</a>
        <a asp-action="Contato">Contato</a>
        <a asp-action="Compras">Compras</a>
    </nav>
</header>

<main class="container">
    <h2 class="text-center my-4">Comprar Carro</h2>
    <div class="divCarro text-center">
        <form method="post" asp-action="Comprar">
            <div class="row">
                <div class="col-12 col-sm">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" required asp-for="Email">
                        </div>
                        <div class="form-group">
                            <label>Carro</label>
                            <select class="form-control" required asp-for="Id_Carro" asp-items="ViewBag.carros">

                            </select>
                        </div>
                       <button type="submit" class="btnAtualizar">Comprar</button>
                </div>
            </div>
        </form>
    </div>
</main>